{% extends "base.html" %}
{% load static %}

{% block bodycontent %}
    <div class="container">
        <div class="row">
          <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
              <div class="card-body">
                <h5 class="card-title text-center">Choose Scanner:<br><br></h5>
                  {% if hospitality %}<button class="btn btn-lg btn-primary btn-block text-uppercase" onclick="window.location.href = '/registration-scanner/';">Registration</button>{% endif %}
                  {% if security %}<button class="btn btn-lg btn-primary btn-block text-uppercase" onclick="window.location.href = '/security-scanner-entry/';">Security Entry</button>{% endif %}
                  {% if security %}<button class="btn btn-lg btn-primary btn-block text-uppercase" onclick="window.location.href = '/security-scanner-exit/';">Security Exit</button>{% endif %}
                  <button class="btn btn-lg btn-primary btn-block text-uppercase" onclick="window.location.href = '/details-scanner/';">General Details</button>
                  {% if admin %}<button class="btn btn-lg btn-primary btn-block text-uppercase" onclick="window.location.href = '/conditions-scanner/';">Conditions Details</button>{% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}