{% extends "base.html" %}
{% load static %}

{% block bodycontent %}
    <div class="container">
        <div class="row">
          <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
              <div class="card-body">
                  <h4 class="card-title text-center">Need Help?:</h4>
                    <h5 class="card-title text-center">If you need help with the staff app or with invalid scans / errors, please use the button below to call the systems manager.<br><br></h5>
                  <button class="btn btn-lg btn-primary btn-block text-uppercase" onclick="window.location.href = 'REDACTED';">Make Call</button>
              <br><br><button class="btn btn-lg btn-secondary btn-block text-uppercase" onclick="window.location.href = '/';">Go Back</button>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}