{% extends "base.html" %}
{% load static %}

{% block bodycontent %}

<div class="container">
        <div class="row">
          <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
              <div class="card-body">
                <div class="row-element">
        <div class="form-field form-field-memo">
          <div class="form-field-caption-panel">
            <div class="gwt-Label form-field-caption">
                <b>List of People In-Venue:</b><br>
                In Venue Count: {{ people_in_venue }}
            </div>
          </div>
        <div class="centered">
        {% if exists %}
            {% for item in queryanswer1 %}
                <a href="/statistics-in-venue-details/{{ item.id }}"><br><br>
                    <button class="small green button">{{ item.ticket_type|upper }}</button>
                      {{ item.name }}</a>
            {% endfor %}
            {% for item2 in queryanswer2 %}
                <br><br>
                    <button class="small blue button">CLIP STAFF</button>
                      {{ item2.staffid }}
            {% endfor %}
        {% else %}
            <b><br><br>No Matching Data Found!</b>
        {% endif %}
        <br><br><br><br><button class="btn btn-lg btn-secondary btn-block text-uppercase" onclick="window.location.replace('/');">Go Back</button>
        </div>
        </div>
    </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}